body{
    background-color: #289688;
    text-align: center;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #FCEA3E;
}

.img-1{
    border: 7.5px solid white;
    margin: 5px;
}
.img-2{
    border: 7.5px solid white;
    margin: 5px;
}
.img-3{
    border: 7.5px solid white;
    margin: 5px;
}
.img-4{
    border: 7.5px solid white;
    margin: 5px;
}
.img-5{
    border: 7.5px solid white;
    margin: 5px;
}
.img-6{
    border: 7.5px solid white;
    margin: 5px;
}
.img-7{
    border: 7.5px solid white;
    margin: 5px;
}
.img-8{
    border: 7.5px solid white;
    margin: 5px;
}
.img-9{
    border: 7.5px solid white;
    margin: 5px;
}
.img-10{
    border: 7.5px solid white;
    margin: 5px;
}